@page "{id}"
@model Hmm.Idp.Pages.Admin.Roles.EditModel
@{
    ViewData["Title"] = "Edit Role";
}

<h1>Edit Role</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Role.Id" />

            <div class="form-group mb-3">
                <label asp-for="Role.Name" class="control-label"></label>
                <input asp-for="Role.Name" class="form-control" />
                <span asp-validation-for="Role.Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Role.Description" class="control-label"></label>
                <textarea asp-for="Role.Description" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Role.Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
