@model Hmm.WebConsole.ViewModels.NavigationComponentViewModel

<a class="btn btn-block btn-outline-secondary"
   asp-action="Index"
   asp-controller="Home"
   asp-route-category="">
    Home
</a>


@foreach (var subsystem in Model.Subsystems)
{

    <div section-mode="@Model.SubsystemsInfo"
         section-action="Index" 
         section-controller=@subsystem.Name
         section-classes-enabled="true"
         section-class="btn" 
         section-class-normal="btn-block btn-outline-secondary"
         section-class-selected="btn-block btn-outline-primary"
         section-url-subsystem="@subsystem.Description" ></div>
}